{% extends "base_template.html"%}

{% block title%}
    <title> Pé Confortável Ltda. Lista de Clientes </title>
{% endblock %}

{% block page %}
- Clientes
{% endblock %}

{% block menu %}
    <div class="collapse navbar-collapse justify-content-end" id="mynavbar">
        <div class="navbar-nav">
            <a href="{% url 'index' %}" class="nav-link">Início</a>
            <a href="{% url 'cliente:listar' %}" class="nav-link active">Listar</a>
            <a href="{% url 'cliente:cadastrar' %}" class="nav-link">Cadastrar</a>
            <a href="{% url 'cliente:login' %}" class="nav-link">Login</a>
        </div>
    </div>
{% endblock %}

{% block page_title %}
    <div class="container text-center border-bottom border-primary">
        <div class="row mt-5">
            <div class="col">
                <h1>Lista de Clientes</h1>
            </div>
        </div>
    </div>
{% endblock %}

{% block main %}
    {% if clientes %}
    <div class="table-responsive">

        <!-- classes para tabela (Bootstrap) , tabela sem borda, conteudo alinhado ao centro, ... , width: auto -->
        <table class="table
                    table-borderless
                    text-center
                    my-table-hover
                    my-table-image
                    my-table-td-first-child
                    my-table-border-bottom
                    my-table-th
                    w-100">

            <!-- cabecalho -->
            <thead class="text-light">
                <!-- linhas -->
                <tr>
                    <!-- colunas cabecalho -->
                    <th>CPF</th>
                    <th>Nome</th>
                    <th>Endereco</th>
                    <th>Telefone</th>
                    <th>Estado</th>
                    <th>Cidade</th>
                    <th>Gênero</th>
                    <th>Contato</th>
                    <th>E-mail</th>
                    <th>Senha</th>
                </tr>
            </thead>

            <!-- linhas -->
            {% for c in clientes %}
            <tr>
                <td class="text-center">{{ c.formatarCPF }} </td>
                <td class="text-center">{{ c.nome }}</td>
                <td class="text-center">{{ c.endereco }}</td>
                <td class="text-center">{{ c.telefone }}</td>
                <td class="text-center">{{ c.get_uf_display }}</td>
                <td class="text-center">{{ c.cidade }}</th>
                <td class="text-center">{{ c.get_genero_display }}</td>
                <td class="text-center">{{ c.get_contato_display }}</td>
                <td class="text-center">{{ c.email }}</th>
                <td class="text-center">********</td>
            </tr>
            {% endfor %}
        </table>

    </div>
    {% else %}
    <div class="container text-center">
        <h3>Não há nenhum cliente cadastrado!</h3>
    </div>
    {% endif %}
{% endblock %}