{% extends "base_template.html"%}

{% block title%}
    <title> Pé Confortável Ltda. Cadastro de Fabricantes </title>
{% endblock %}

{% block page %}
- Fabricantes
{% endblock %}

{% block menu %}
    <div class="collapse navbar-collapse justify-content-end" id="mynavbar">
        <div class="navbar-nav">
            <a href="{% url 'index' %}" class="nav-link">Início</a>
            <a href="{% url 'fabricante:listar' %}" class="nav-link">Listar</a>
            <a href="{% url 'fabricante:cadastrar' %}" class="nav-link active">Cadastrar</a>
        </div>
    </div>
{% endblock %}

{% block page_title %}
    <div class="container text-center border-bottom border-primary">
        <div class="row mt-5">
            <div class="col">
                <h1>Cadastro de Fabricantes</h1>
            </div>
        </div>
    </div>
{% endblock %}

{% block main %}
<div class="container">
    <form name="idFrmCadastrarFabricante" action="{% url 'fabricante:cadastrar' %}" method="post">
    {% csrf_token %}
        <div class="form-group">
            <label for="idNomeFabricante" class="col-form-label">Nome do Fabricante</label>
            <input class="form-control bg-dark text-light" type="text" id="idNomeFabricante" name="nome"
                placeholder="Informe o nome do fabricante" maxlength="70" required>
        </div>

        <div class="form-group my-4 text-center">
            <input type="reset" value="Limpar" class="btn btn-primary btn-md">
            <input type="submit" value="Cadastrar" class="btn btn-primary btn-md">
        </div>
    </form>
</div>
{% endblock %}