{% extends "base_template.html"%}

{% block title%}
    <title> Pé Confortável Ltda. Lista de Fabricantes </title>
{% endblock %}

{% block page %}
- Fabricantes
{% endblock %}

{% block menu %}
    <div class="collapse navbar-collapse justify-content-end" id="mynavbar">
        <div class="navbar-nav">
            <a href="{% url 'index' %}" class="nav-link">Início</a>
            <a href="{% url 'fabricante:listar' %}" class="nav-link active">Listar</a>
            <a href="{% url 'fabricante:cadastrar' %}" class="nav-link">Cadastrar</a>
        </div>
    </div>
{% endblock %}

{% block page_title %}
    <div class="container text-center border-bottom border-primary">
        <div class="row mt-5">
            <div class="col">
                <h1>Lista de Fabricantes</h1>
            </div>
        </div>
    </div>
{% endblock %}

{% block main %}
    {% if fabricantes %}
    <div class="table-responsive">

        <!-- classes para tabela (Bootstrap) , tabela sem borda, conteudo alinhado ao centro, ... , width: auto -->
        <table class="table
                    table-borderless
                    text-center
                    my-table-hover
                    my-table-image
                    my-table-td-first-child
                    my-table-border-bottom
                    my-table-th
                    w-100">

            <!-- cabecalho -->
            <thead class="text-light">
                <!-- linhas -->
                <tr>
                    <!-- colunas cabecalho -->
                    <th>Código</th>
                    <th>Nome</th>
                    <th>Ações</th>
                </tr>
            </thead>

            <!-- linhas -->
            {% for f in fabricantes %}
            <tr>
                <td class="text-center">{{ f.codigo }}</td>
                <td class="text-center">{{ f.nome }}</td>
                <td>
                    <a href="{% url 'fabricante:atualizar' f.codigo %}" class="btn btn-mini"><i class="far fa-edit"></i></a>
                    <button type="button" class="btn" role="button" data-target="#modalExcluirFabricante"
                        data-toggle="modal" data-nome="{{f.nome}}" 
                        data-url="{% url 'fabricante:excluir' f.codigo %}">
                        
                        <i class="far fa-trash-alt"></i>
                    </button>
                </td>
            </tr>
            {% endfor %}
        </table>

    </div>
    {% else %}
    <div class="container text-center">
        <h3>Não há nenhum fabricante cadastrado!</h3>
    </div>
    {% endif %}
<!-- Modais -->
    <div class="modal fade" id="modalExcluirFabricante" role="dialog" aria-labelledby="Confirmação" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel">Confirmação</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">
                    <p id="mensagemExclusao"></p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" id="btnExcluir">Excluir</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript_complementar %}
    <!-- Prepara o modal com os dados da imagem do fabricante a ser excluido -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#modalExcluirFabricante').on('show.bs.modal', function(event) {
                var nome = $(event.relatedTarget).data('nome');
                var urlExcluir = $(event.relatedTarget).data('url');
                $("#mensagemExclusao").text("Deseja deletar fabricante [  " + nome + "  ]?");

                $.fn.excluirFabricante = function() {
                    var url = $(event.relatedTarget).data('url');
                    location.replace(url);
                }
            });
        
            $("#btnExcluir").on('click', function() {
                $.fn.excluirFabricante();
                return false;
            });            
        });
    </script>
{% endblock javascript_complementar %}
