{% extends "base_template.html"%}

{% block title%}
    <title> Pé Confortável Ltda. Atualizar Produtos </title>
{% endblock %}

{% block page %}
- Produtos
{% endblock %}

{% block menu %}
    <div class="collapse navbar-collapse justify-content-end" id="mynavbar">
        <div class="navbar-nav">
            <a href="{% url 'index' %}" class="nav-link">Início</a>
            <a href="{% url 'produto:listar' %}" class="nav-link active">Listar</a>
            <a href="{% url 'produto:cadastrar' %}" class="nav-link">Cadastrar</a>
        </div>
    </div>
{% endblock %}

{% block page_title %}
    <div class="container text-center border-bottom border-primary">
        <div class="row mt-5">
            <div class="col">
                <h1>Atualizar Produtos</h1>
            </div>
        </div>
    </div>
{% endblock %}

{% block main %}
<div class="container">
    <form name="idFrmCadastrarProduto" action="{% url 'produto:atualizar' codigo %}" method="post">
    {% csrf_token %}
        <div class="row border border_primary p-2 form-atual">
            <div class="form-group col-10">
                <label for='idNomeAnterior'>Nome Atual do Produto</label>
                <input class="form-control bg-dark text-white-50" type='text' id='idNomeAnterior' value='{{ produtoAlterado.nome }}' name='descricaoAnterior' readonly required>
            </div>
            <div class="form-group col-2">
                <label for='idCodigo'>Código</label>
                <input class="form-control bg-dark text-white-50" type='text' id='idCodigo' value='{{ codigo }}' name='codigo' readonly required>
            </div>
            <div class="form-group col-6">
                <label for='idPrecoCompraAnterior'>Preço Atual de Compra do Produto</label>
                <input class="form-control bg-dark text-white-50" type='text' id='idPrecoCompraAnterior' value='R${{ produtoAlterado.preco_compra|floatformat:"2g" }}' name='compraAnterior' readonly required>
            </div>
            <div class="form-group col-6">
                <label for='idPrecoVendaAnterior'>Preço Atual de Venda do Produto</label>
                <input class="form-control bg-dark text-white-50" type='text' id='idPrecoVendaAnterior' value='R${{ produtoAlterado.preco_venda|floatformat:"2g" }}' name='vendaAnterior' readonly required>
            </div>
            <div class="form-group col-4">
                <label for='idCorAnterior'>Cor Atual do Produto</label>
                <input class="form-control bg-dark text-white-50" type='text' id='idCorAnterior' value='{{ produtoAlterado.get_cor_display }}' name='descricaoAnterior' readonly required>
            </div>
            <div class="form-group col-4">
                <label for='idImagemAnterior'>Imagem Atual do Produto</label>
                <input class="form-control bg-dark text-white-50" type='text' id='idImagemAnterior' value='{{ produtoAlterado.imagem }}' name='imagemAnterior' readonly required>
            </div>
            <div class="form-group col-4">
                <label for='idFabricanteAnterior'>Fabricante do Produto</label>
                <input class="form-control bg-dark text-white-50" type='text' id='idFabricanteAnterior' value='{{ produtoAlterado.fabricante_codigo.nome }}' name='fabricanteAnterior' readonly required>
            </div>
        </div>
            
        <div class="row">
            <div class="form-group col-12">
                <label for="idNomeProduto" class="col-form-label">Novo Nome do Produto</label>
                <input class="form-control bg-dark text-light" type="text" value='{{ produtoAlterado.nome }}' id="idNomeProduto" name="nome"
                    placeholder="Informe o nome do produto" maxlength="70" required>
            </div>
            <div class="form-group col-6">
                <label for='idPrecoCompra'>Preço de Compra do Produto</label>
                <input class="form-control bg-dark text-light" type='number' id='idPrecoCompra' value='{{ produtoAlterado.preco_compra|floatformat:"0g" }}'
                 name='preco_compra' placeholder="Informe o valor de compra do produto" required>
            </div>
            <div class="form-group col-6">
                <label for='idPrecoVenda'>Preço de Venda do Produto</label>
                <input class="form-control bg-dark text-light" type='number' id='idPrecoVenda' value='{{ produtoAlterado.preco_venda|floatformat:"0g" }}'
                 name='preco_venda' placeholder="Informe o valor de venda do produto" required>
            </div>
            <div class="form-group col-4">
                <label for="idCor">Cor</label>
                <select class="form-control bg-dark text-light" id="idCor" name="cor">
                    <option disabled selected value="0">Selecione...</option>
                    {% for c in cor %}
                        {% if c.0 == produtoAlterado.cor %}
                            <option selected value={{ c.0 }}>{{ c.1 }}</option>
                        {% else %}
                            <option value={{ c.0 }}>{{ c.1 }}</option>
                        {% endif %}
                    
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-4">
                <label for='idImagem'>Imagem</label>
                <input class="form-control bg-dark text-light" type='text' id='idImagem' name='imagem' value='{{ produtoAlterado.imagem }}'
                placeholder="Informe o nome da imagem" maxlength="25" required>
            </div>
            <div class="form-group col-4">
                <label for="idFabricante">Fabricante</label>
                <select class="form-control bg-dark text-light" id="idFabricante" name="fabricante_codigo">
                    <option disabled selected value="0">Selecione...</option>
                        {% for f in fabricantes %}
                            {% if f == produtoAlterado.fabricante_codigo %}
                                <option selected value={{ f.codigo }}>{{ f.nome }}</option>
                            {% else %}
                                <option value={{ f.codigo }}>{{ f.nome }}</option>
                            {% endif %}
                        {% endfor %}
                </select>
            </div>
            <div class="form-group my-4 text-center col-12">
                <input type="reset" value="Limpar" class="btn btn-primary btn-md">
                <input type="submit" value="Atualizar" class="btn btn-primary btn-md">
            </div>
        </div>
    </form>
</div>  
{% endblock %}