{% extends "base_template.html"%}
{% load static %}

{% block title%}
    <title> Pé Confortável Ltda. Lista de Produtos </title>
{% endblock %}

{% block page %}
- Produtos
{% endblock %}

{% block menu %}
    <div class="collapse navbar-collapse justify-content-end" id="mynavbar">
        <div class="navbar-nav">
            <a href="{% url 'index' %}" class="nav-link">Início</a>
            <a href="{% url 'produto:listar' %}" class="nav-link active">Listar</a>
            <a href="{% url 'produto:cadastrar' %}" class="nav-link">Cadastrar</a>
        </div>
    </div>
{% endblock %}

{% block page_title %}
    <div class="container text-center border-bottom border-primary">
        <div class="row mt-5">
            <div class="col">
                <h1>Lista de Produtos</h1>
            </div>
        </div>
    </div>
{% endblock %}

{% block main %}
    {% if produtos %}
    <div class="table-responsive">

        <!-- classes para tabela (Bootstrap) , tabela sem borda, conteudo alinhado ao centro, ... , width: auto -->
        <table class="table
                    table-borderless
                    text-center
                    my-table-hover
                    my-table-image
                    my-table-td-first-child
                    my-table-border-bottom
                    my-table-th
                    w-100">

            <!-- cabecalho -->
            <thead class="text-light">
                <!-- linhas -->
                <tr>
                    <!-- colunas cabecalho -->
                    <th>Código</th>
                    <th>Nome</th>
                    <th>Preço Compra</th>
                    <th>Preço Venda</th>
                    <th>Cor</th>
                    <th>Imagem</th>
                    <th>Fabricante</th>
                    <th>Ações</th>
                </tr>
            </thead>

            <!-- linhas -->
            {% for p in produtos %}
            {% if p.desativado == False %}
            <tr>
                <td class="text-center">{{ p.codigo }}</td>
                <td class="text-center">{{ p.nome }}</td>
                <td class="text-center"> R${{ p.preco_compra|floatformat:"2g" }}</td>
                <td class="text-center"> R${{ p.preco_venda|floatformat:"2g" }}</td>
                <td class="text-center">{{ p.get_cor_display }}</td>
                <td class="text-center">{{ p.imagem }}</td>
                <td class="text-center">{{ p.fabricante_codigo.nome }}</td>
                <td>
                    <a href="{% url 'produto:atualizar' p.codigo %}" class="btn btn-mini"><i class="far fa-edit"></i></a>
                    <button type="button" class="btn" role="button" data-target="#modalExcluirProduto"
                        data-toggle="modal" data-nome="{{p.nome}}" 
                        data-url="{% url 'produto:excluir' p.codigo %}">
                        
                        <i class="far fa-trash-alt"></i>
                    </button>
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </table>

    </div>
    {% else %}
    <div class="container text-center">
        <h3>Não há nenhum produto cadastrado!</h3>
    </div>
    {% endif %}
    <!-- Modais -->
    <div class="modal fade" id="modalExcluirProduto" role="dialog" aria-labelledby="Confirmação" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel">Confirmação</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">
                    <p id="mensagemExclusao"></p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" id="btnExcluir">Excluir</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript_complementar %}
    <!-- Prepara o modal com os dados da imagem do produto a ser excluido -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#modalExcluirProduto').on('show.bs.modal', function(event) {
                var nome = $(event.relatedTarget).data('nome');
                var urlExcluir = $(event.relatedTarget).data('url');
                $("#mensagemExclusao").text("Deseja deletar produto [  " + nome + "  ]?");

                $.fn.excluirProduto = function() {
                    var url = $(event.relatedTarget).data('url');
                    location.replace(url);
                }
            });
        
            $("#btnExcluir").on('click', function() {
                $.fn.excluirProduto();
                return false;
            });            
        });
    </script>
{% endblock javascript_complementar %}
