{% extends "base_template.html"%}

{% block title%}
    <title> Pé Confortável Ltda. Lista de Fabricantes </title>
{% endblock %}

{% block page %}
- Produtos
{% endblock %}

{% block menu %}
    <div class="collapse navbar-collapse justify-content-end" id="mynavbar">
        <div class="navbar-nav">
            <a href="{% url 'index' %}" class="nav-link">Início</a>
            <a href="{% url 'fabricante:listar' %}" class="nav-link active">Listar</a>
            <a href="{% url 'fabricante:cadastrar' %}" class="nav-link">Cadastrar</a>
        </div>
    </div>
{% endblock %}

{% block page_title %}
    <div class="container text-center border-bottom border-primary">
        <div class="row mt-5">
            <div class="col">
                <h1>Lista de Produtos</h1>
            </div>
        </div>
    </div>
{% endblock %}

{% block main %}
    {% if produtos %}
    <div class="table-responsive">

        <!-- classes para tabela (Bootstrap) , tabela sem borda, conteudo alinhado ao centro, ... , width: auto -->
        <table class="table
                    table-borderless
                    text-center
                    my-table-hover
                    my-table-image
                    my-table-td-first-child
                    my-table-border-bottom
                    my-table-th
                    w-100">

            <!-- cabecalho -->
            <thead class="text-light">
                <!-- linhas -->
                <tr>
                    <!-- colunas cabecalho -->
                    <th>Código</th>
                    <th>Nome</th>
                    <th>Preço Compra</th>
                    <th>Preço Venda</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>

            <!-- linhas -->
            {% for p in produtos %}
            <tr>
                <td class="text-center">{{ p.codigo }}</td>
                <td class="text-center">{{ p.nome }}</td>
            </tr>
            {% endfor %}
        </table>

    </div>
    {% else %}
    <div class="container text-center">
        <h3>Não há nenhum produto cadastrado!</h3>
    </div>
    {% endif %}
{% endblock %}